<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/asciidoctor-default.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/coderay-asciidoctor.css"  />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700"/>
  </head>
  <body class="article">
    <div id="content">
      {{content}}
    </div>
  </body>
</html>
